*{
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background: #f5f5f5;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h2{
    color: #001278 !important;
    font-weight: 900;
    font-size: 38px;
}
nav {
    background: #fff !important;
}
main{
    background: url('../images/background/activities/activities_background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#current_work{
    background: url('../images/background/work/work_background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#current_work .text-center{
    background-color: #001278b4;
}
#current_work img{
  box-shadow: 0 0 0 5px #ffffff5b;
}
#about{
  background-color: #001278b4;
}
header {
    background: url('../images/background/header/header_background.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header div.header_container{
    background-color: rgba(255, 255, 255, 0.7);
    height: inherit;
}
header h1{
     font-weight: 700;
     color: #001278;
}
header a{
    text-decoration: none;
    color: #001278 !important;
    font-size: 25px;
    border: 1px solid #001278;
    padding: 10px 30px !important;
    cursor: pointer;
}
header a:hover{
    color: #fff !important;
    background-color: #001278;
    transition: 0.25s;
}
#monetary{
    background-color: #ffffff;
}
.carousel-indicators {
    bottom: -70px;
}
.carousel-indicators{
    flex-wrap: wrap;
}
.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    margin: 0px 5px !important;
}
#activities{
    background-color: #001278b4;
}
#location{
    width: 100%;
}

#location iframe{
    width: 100%;
}
footer{
    background-color: #001278;
}
.foot_link{
    color: #fff;
    text-decoration: none;
}
.foot_link:hover{
    color: rgba(255, 255, 255, 0.562);
    transition: 0.4s;
}
@media screen and (max-width: 768px) {
  #foot_left {
    text-align: center !important;
  }
}
#foot_sms {
  justify-content: center;
}
#foot_mail_id {
  text-align: right !important;
  margin: 0 !important;
  padding: 0 !important;
}
@media (max-width: 768px) {
  #foot_mail_id {
    text-align: center !important;
  }
  #foot_telephone {
    text-align: center !important;
  }
  #foot_left {
    text-align: center !important;
  }
}
.foot_mail {
  text-decoration: none;
  color: white;
}
.foot_mail:hover {
  color: rgba(255, 255, 255, 0.562);
  transition: 0.4s;
}
.foot_tel {
  text-decoration: none;
  color: white;
}
.foot_tel:hover {
  color: rgba(255, 255, 255, 0.562);
  transition: 0.4s;
}
#go_to_top{
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
}
#go_to_top svg{
  color: #001278;
  background-color: #ffffff;
  border-radius: 50%;
  border: 3px solid #FF8D00;
}
.btn{
  background-color: #001278 !important;
  outline: none !important;
  border: none !important;
}
.btn:hover{
  transition: 0.3s;
  background-color: #FF8D00 !important;
}